:root {
  --app-primary: #7fc3dc;
}

html,
body {
  height: 100%;
}
.banner-img {
  background-position: "center";
  background-size: "cover";
  width: "50%";
}

.app-primary-color {
  color: var(--app-primary) !important;
}

.app-primary-bg-color {
  background-color: var(--app-primary) !important;
}

.dropdown-item:active {
  background-color: var(--app-primary);
}
