@import url("_variable.css");
@import url("util.css");

html,
body {
  height: 100%;
}

.header-sticky {
  top: 50px;
  z-index: 10;
}

.banner-img {
  background-position: "center";
  background-size: "cover";
  width: "50%";
}

.app-primary-color {
  color: var(--app-primary) !important;
}

.app-primary-bg-color-neutral {
  background-color: var(--app-primary-neutral) !important;
}

.app-primary-bg-color {
  background-color: var(--app-primary) !important;
}

.dropdown-item {
  padding: 12px !important;
}

.dropdown-item:active {
  background-color: var(--app-primary);
}

.dropdown-menu {
  min-width: inherit;
  max-height: inherit;
  box-shadow: 0 0px 10px 0 rgba(0,0,0,0.1);
  border: none;
  right: 12px !important;
  z-index: 10;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--app-primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #7cd3f3;
}


