html,
body {
  height: 100%;
}
.banner-img {
  background-position: "center";
  background-size: "cover";
  width: "50%";
}

.app-primary-color {
  color: "#7FC3DC";
}

.app-primary-bg-color {
  background-color: "#7FC3DC";
}
