@import url("./_variable.css");

.nav-tabs {
  border-bottom: none !important;
  background-color: var(--gray);
  padding: 12px 15px;
  border-radius: 20px;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.1);
}

.nav-item a {
  color: rgba(0, 0, 0, 0.5);
  border-radius: 20px !important;
  cursor: pointer;
  transform: scale(0.8);
  transition: 0.3s ease;
  padding-bottom: 10px;
  border: none;
}

.nav-item a:hover {
  color: var(--app-primary) !important;
  border-radius: 20px !important;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

.nav-item a.active {
  border-radius: 20px !important;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  color: var(--app-primary) !important;
  transform: scale(1.05);
  border: none;
}
