.ReactTable {
  border: none;
  /* padding: 20px; */
}
.ReactTable .rt-thead {
  font-weight: bold;
  text-align: left;
  color: #fff;
}
.ReactTable .rt-thead.-header {
  box-shadow: none;
  padding: 10px 0px !important;
  background-color: #7fc3dc;
}
.ReactTable .rt-thead .rt-resizable-header {
  text-align: left;
}
.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  border-right: none;
  text-align: left;
  padding: 20px 10px;
}
.ReactTable .rt-tbody .rt-td {
  padding: 20px 10px;
  border-right: none;
  cursor: pointer;
}

.ReactTable .rt-tbody .rt-td:last-child {
  overflow: unset;
}

.pagination-bottom {
  align-items: flex-end;
}

.loading-table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}