@import url("./_variable.css");

.ReactTable {
  border: none;
  /* padding: 20px; */
}
.ReactTable .rt-thead {
  font-weight: bold;
  text-align: left;
  color: #FFF;
}
.ReactTable .rt-thead.-header {
  box-shadow: none;
  padding: 10px 0px !important;
  background-color: #7fc3dc;
}
.ReactTable .rt-thead .rt-resizable-header {
  text-align: left;
}
.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  border-right: none;
  text-align: left;
  padding: 20px 10px;
}

.ReactTable .rt-tbody .rt-td {
  padding: 20px 10px;
  border-right: none;
  cursor: pointer;
  align-self: center !important;
}

.ReactTable .rt-tbody .rt-td:last-child {
  overflow: unset;
}

.pagination-bottom {
  align-items: flex-end;
}

.loading-table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.ReactTable .rt-thead .rt-th.-sort-desc,
.ReactTable .rt-thead .rt-td.-sort-desc,
.ReactTable .rt-thead .rt-th.-sort-asc,
.ReactTable .rt-thead .rt-td.-sort-asc {
  box-shadow: none;
}

.ReactTable .rt-thead .rt-th.-sort-desc div,
.ReactTable .rt-thead .rt-th.-sort-asc div {
  display: inline-block;
}

.ReactTable .rt-thead .rt-th.-sort-desc::after {
  content: "▼";
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
}
.ReactTable .rt-thead .rt-th.-sort-asc::after {
  content: "▲";
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
}

.ReactTable.-striped .rt-tr.-odd {
  background: var(--neutral-gray) !important;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow) {
  transition: 0.3s ease;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  background: rgba(209, 243, 255, 0.6) !important;
}
