.ReactTable {
  border: none;
  /* padding: 20px; */
}
.ReactTable .rt-thead {
  font-weight: bold;
  text-align: left;
  color: #fff;
}
.ReactTable .rt-thead.-header {
  box-shadow: none;
  padding: 10px 0px !important;
  background-color: #7fc3dc;
}
.ReactTable .rt-thead .rt-resizable-header {
  text-align: left;
}
.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  border-right: none;
  text-align: left;
  padding: 15px 10px;
}
.ReactTable .rt-tbody .rt-td {
  padding: 15px 10px;
  border-right: none;
}

.pagination-bottom {
  align-items: flex-end;
}
/* .ReactTable .rt-tbody .rt-td:last-child {
  overflow: unset;
} */
/* .ReactTable .rt-tbody {
  overflow: initial !important;
}
.ReactTable .rt-table {
  overflow: auto;
} */
/* .ReactTable.-striped .rt-tr.-odd {
  border-radius: 5px;
}
.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: none;
} */
