.d-50 {
  width: 50px;
  height: 50px;
}

.d-100 {
  width: 100px;
  height: 100px;
}

.img-cropper {
  border-radius: 50%;
  overflow: hidden;
}

.img-cropper__dashed {
  border-radius: 3px;
  overflow: hidden;
  border-style: dashed;
  border-width: 3px;
  border-color: var(--gray);
}

.img-cropper__rounded-sm-small {
  border-radius: 8px;
  overflow: hidden;
}

.img-fit-container {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hover-sm {
  transform: scale(1);
  transition: ease 0.3s;
}

.hover-sm:hover {
  transform: scale(1.2);
  transition: ease 0.3s;
}

.hover-danger-sm:hover {
  background-color: #dc3545;
  color: #fff;
}

/* Background color */

.app-bg--success {
  background-color: var(--success) !important;
}

.app-bg--warning {
  background-color: var(--warning) !important;
}

.app-bg--danger {
  background-color: var(--danger) !important;
}

.app-bg--gray {
  background-color: var(--gray) !important;
}

.app-bg--purple {
  background-color: var(--purple) !important;
}

.app-bg--secondary {
  background-color: var(--secondary) !important;
}

.app-bg--primary {
  background-color: var(--primary) !important;
}

.app-bg--dark {
  background-color: var(--dark) !important;
}

/* Neutral background color */
.app-bg--neutral-success {
  background-color: var(--neutral-success) !important;
}

.app-bg--neutral-warning {
  background-color: var(--neutral-warning) !important;
}

.app-bg--neutral-danger {
  background-color: var(--neutral-danger) !important;
}

.app-bg--neutral-gray {
  background-color: var(--neutral-gray) !important;
}

.app-bg--neutral-purple {
  background-color: var(--neutral-purple) !important;
}

.app-bg--neutral-secondary {
  background-color: var(--neutral-secondary) !important;
}

.app-bg--neutral-primary {
  background-color: var(--neutral-primary) !important;
}

.app-bg--neutral-dark {
  background-color: var(--neutral-dark) !important;
}

/* color */
.app--success {
  color: var(--success) !important;
}

.app--warning {
  color: var(--warning) !important;
}

.app--danger {
  color: var(--danger) !important;
}

.app--gray {
  color: var(--gray) !important;
}

.app--purple {
  color: var(--purple) !important;
}

.app--secondary {
  color: var(--secondary) !important;
}

.app--primary {
  color: var(--primary) !important;
}

.app--dark {
  color: var(--dark) !important;
}

/* neutral color */
.app--neutral-success {
  color: var(--neutral-success) !important;
}

.app--neutral-warning {
  color: var(--neutral-warning) !important;
}

.app--neutral-danger {
  color: var(--neutral-danger) !important;
}

.app--neutral-gray {
  color: var(--neutral-gray) !important;
}

.app--neutral-purple {
  color: var(--neutral-purple) !important;
}

.app--neutral-secondary {
  color: var(--neutral-secondary) !important;
}

/* outline button */
.app-btn-outline {
  padding: 5px 15px !important;
}

.app-btn-outline--success {
  color: var(--success) !important;
  border: 1px solid var(--success) !important;
}

.app-btn-outline--warning {
  color: var(--warning) !important;
  border: 1px solid var(--warning) !important;
}

.app-btn-outline--danger {
  color: var(--danger) !important;
  border: 1px solid var(--danger) !important;
}

.app-btn-outline--gray {
  color: var(--gray) !important;
  border: 1px solid var(--gray) !important;
}

.app-btn-outline--purple {
  color: var(--purple) !important;
  border: 1px solid var(--purple) !important;
}

.app-btn-outline--secondary {
  color: var(--secondary) !important;
  border: 1px solid var(--secondary) !important;
}

.app-btn-outline--primary {
  color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
}

.app-btn-outline--success:hover {
  background-color: var(--success) !important;
  color: var(--white) !important;
}
.app-btn-outline--warning:hover {
  background-color: var(--warning) !important;
  color: var(--white) !important;
}
.app-btn-outline--danger:hover {
  background-color: var(--danger) !important;
  color: var(--white) !important;
}
.app-btn-outline--gray:hover {
  background-color: var(--gray) !important;
  color: var(--white) !important;
}
.app-btn-outline--purple:hover {
  background-color: var(--purple) !important;
  color: var(--white) !important;
}
.app-btn-outline--secondary:hover {
  background-color: var(--secondary) !important;
  color: var(--white) !important;
}
.app-btn-outline--primary:hover {
  background-color: var(--primary) !important;
  color: var(--white) !important;
}

/* Button */
.app-btn {
  color: var(--white) !important;
  padding: 5px 15px !important;
  border: 1px solid transparent !important;
}

.app-btn--success {
  background-color: var(--success) !important;
}
.app-btn--warning {
  background-color: var(--warning) !important;
}
.app-btn--danger {
  background-color: var(--danger) !important;
}
.app-btn--gray {
  background-color: var(--gray) !important;
}
.app-btn--purple {
  background-color: var(--purple) !important;
}
.app-btn--secondary {
  background-color: var(--secondary) !important;
}
.app-btn--primary {
  background-color: var(--primary) !important;
}

.app-btn--success:hover {
  background-color: var(--white) !important;
  border: 1px solid var(--success) !important;
  color: var(--success) !important;
}
.app-btn--warning:hover {
  background-color: var(--white) !important;
  border: 1px solid var(--warning) !important;
  color: var(--warning) !important;
}
.app-btn--danger:hover {
  background-color: var(--white) !important;
  border: 1px solid var(--danger) !important;
  color: var(--danger) !important;
}
.app-btn--gray:hover {
  background-color: var(--white) !important;
  border: 1px solid var(--gray) !important;
  color: var(--gray) !important;
}
.app-btn--purple:hover {
  background-color: var(--white) !important;
  border: 1px solid var(--purple) !important;
  color: var(--purple) !important;
}
.app-btn--secondary:hover {
  background-color: var(--white) !important;
  border: 1px solid var(--secondary) !important;
  color: var(--secondary) !important;
}
.app-btn--primary:hover {
  background-color: var(--white) !important;
  border: 1px solid var(--primary) !important;
  color: var(--primary) !important;
}

.app-btn--close:hover {
  border: 2px solid transparent !important;
  color: var(--white) !important;
  background-color: var(--danger) !important;
}

.border-warning {
  border-color: var(--warning) !important;
}
.border-success {
  border-color: var(--success) !important;
}
.border-danger {
  border-color: var(--danger) !important;
}
.border-primary {
  border-color: var(--secondary) !important;
}
