.d-50 {
  width: 50px;
  height: 50px;
}

.d-100 {
  width: 100px;
  height: 100px;
}

.img-cropper {
  border-radius: 50%;
  overflow: hidden;
}

.img-cropper__dashed {
  border-radius: 3px;
  overflow: hidden;
  border-style: dashed;
  border-width: 3px;
  border-color: var(--gray);
}

.img-cropper__rounded-sm-small {
  border-radius: 8px;
  overflow: hidden;
}

.img-fit-container {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hover-sm {
  transform: scale(1);
  transition: ease 0.3s;
}

.hover-sm:hover {
  transform: scale(1.2);
  transition: ease 0.3s;
}

.hover-danger-sm:hover {
  background-color: #dc3545;
  color: #FFF
}
